<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Flair</h1>
      <a href="/flair/new" class="btn btn-success">New Flair</a>


      <ul class="list-group">
        <% flair.forEach((flair) => { %>
          <li class="list-group-item">
            <a href="/flair/<%= flair.id %>"><%= flair.name %></a>
          </li>
        <% }) %>
      </ul>

    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
